.titlebar {
  height: 30px;
  background: #2c2c2c;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.titlebar_button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: white;
}

.titlebar_button:hover {
  background: #2d3041;
}
