.sidebar {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background-color: #1c1e26;
  width: 23%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0px;
}

.directoryName {
  color: #b9e2ff;
  font-size: 20px;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  margin-left: 2rem;
  font-weight: 500;
}

.differentiator {
  height: 1px;
  background: #2d3041;
  width: 100%;
  margin-bottom: 0.5rem;
}
