.sidebar {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #1c1e26;
  width: 23%;
  height: calc(100% - 30px);
  position: absolute;
  left: 0;
  top: 30px;
}
