.sidebar {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background-color: #1c1e26;
  width: 23%;
  height: calc(100% - 30px);
  position: absolute;
  left: 0;
  top: 30px;
}

.directoryName {
  color: #b9e2ff;
  font-size: 19px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 2rem;
}

.differentiator {
  height: 1px;
  background: #2d3041;
  width: 100%;
}
