@value background-color: #1c1e26;
@value selection-color: rgb(60, 100, 135);

.codeEditor {
  position: relative;
  background-color: background-color;

  width: 100%;
  height: 100%;

  overflow-y: auto;
  overflow-x: hidden;

  user-select: none;
  cursor: text;
}

.line {
  position: relative;
  font-family: 'Consolas Ligaturized';
  font-size: 20px;
  height: 20px;
  color: #f8f8f2;

  font-weight: 100;
  margin: 0;
  white-space: pre;
  vertical-align: middle;
  z-index: 1;
  line-height: 20px;
}

.cursor {
  position: absolute;
  width: 2px;
  height: 20px;
  z-index: 10;
  background-color: #EE5078;
}
.cursor_blink {
  position: absolute;
  width: 2px;
  height: 20px;
  z-index: 10;
  background-color: #EE5078;

  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.selection {
  position: absolute;
}
.selection_line {
  position: absolute;
  background-color: selection-color;
  border-radius: 4px;
}
.selection_block {
  position: absolute;
  background-color: selection-color;
}
.selection_rounded {
  position: absolute;
  background-color: background-color;
  border-radius: 4px;
}