.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
}

.editor {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #2d3041;
  top: 0;
  height: 5%;
  width: 100%;
}

.sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1e26;
  width: 23%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 5%;
}

.code {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 77%;
  height: 100%;
  position: absolute;
  border-left: 4px solid #2d3041;
  right: 0;
  top: 5%;
}
